<div class = "row">
<div class ="col-lg-6 col-lg-offset-3 text-center">
  <h1>Yonder</h1>
</div>
</div>
<div class ="row">
  <div class ="col-lg-6 col-lg-offset-3 text-center">
    <div id="water">
    <%= button_to "Find Water Sources", 'water_data#index', method: :get, class: "btn btn-primary btn-lg"%>
    <%= image_tag("water_icon.jpg", class: "icon") %>
    </div>
  </div>
</div>
<div class = "row weather_row">
  <div class ="col-lg-6 col-lg-offset-3 text-center">
    <div id="weather">
    <%= button_to "Find Weather", 'weather_data#index', method: :get, class: "btn btn-primary btn-lg" %>
    <%= image_tag("weather.png", id: "weather_icon") %>
    </div>
  </div>
</div>
<div class = "row">
  <div class ="col-lg-6 col-lg-offset-3 text-center">
	<div id="alerts">
	<%= button_to "Alerts", 'weather_data#index', method: :get%>
	</div>
  </div>
</div>

<div class="col-lg-6 col-lg-offset-3 text-center data-div"></div>
 <script>
   function getLocation(type) {
      if (navigator.geolocation) {
      	if (type == "water"){
          navigator.geolocation.getCurrentPosition(showPosition);
      	} else if(type == "weather"){
 		  navigator.geolocation.getCurrentPosition(showWeather);
 		} else if(type == "alerts"){
 		  navigator.geolocation.getCurrentPosition(getAlerts);
 		}
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }

  function showPosition(position) {

     var getUrl = "https://data.waterpointdata.org/resource/gihr-buz6.json?$where=within_circle(location, 36.97, 70.15, 5000)";
     $.ajax({
        method: "GET",
        dataType: "json",
        url: getUrl
      }).done(function(response){
        console.log(response);
        getInfo(response);
      });
  }

  function showWeather(position) {

     var getUrl = "http://api.wunderground.com/api/80d49bda7b9399e7/conditions/q/" + position.coords.latitude + "," + position.coords.longitude + ".json";
     $.ajax({
        method: "GET",
        dataType: "json",
        url: getUrl
      }).done(function(response){
        console.log(response);
        $('.data-div').html("<p>The weather is " + response.current_observation.weather + ".</p>" +
        					"<p>The current temperature is " + response.current_observation.temperature_string + ".</p>" +
        					"<p>The wind is blowing " + response.current_observation.wind_dir + " at " + response.current_observation.wind_kph + " KPH, gusting up to " + response.current_observation.wind_gust_kph + " KPH." );
      });
  }

	function getAlerts(position) {
		
	 var getUrl = "http://api.wunderground.com/api/80d49bda7b9399e7/alerts/q/" + position.coords.latitude + "," + position.coords.longitude + ".json";
	 $.ajax({
	    method: "GET",
	    dataType: "json",
	    url: getUrl 
	  }).done(function(response){
	    console.log(response);
	    $('.data-div').html("<h4>" + response.alerts[0].message + "</h4>" + 
	    					"<h4>This event is expected to end at " + response.alerts[0].expires + ".</h4>"	);
	  });
	}

  function getInfo(response) {
    var endpoint = {
     lat: response[0].lat_deg,
     lon: response[0].lon_deg
    };

    var startpoint = {
     lat: 36.97,
     lon: 70.15
    };

    function getDirection(endpoint, startpoint) {
      var x1 = endpoint.lat;
      var y1 = endpoint.lon;
      var x2 = startpoint.lat ;
      var y2 = startpoint.lon ;

      var radians = getAtan2((y1 - y2), (x1 - x2));

      function getAtan2(y, x) {
          return Math.atan2(y, x);
      }

      var compassReading = radians * (180 / Math.PI);

      var coordNames = ["N", "NE", "E", "SE", "S", "SW", "W", "NW", "N"];
      var coordIndex = Math.round(compassReading / 45);
      if (coordIndex < 0) {
          coordIndex = coordIndex + 8;
      }

      return coordNames[coordIndex]; // returns the coordinate value
    }

    function calcDistanceBetween(endpoint, startpoint) {
      var lat1 = endpoint.lat;
      var lon1 = endpoint.lon;
      var lat2 = startpoint.lat;
      var lon2 = startpoint.lon;

     //Radius of the earth in:  1.609344 miles,  6371 km  | var R = (6371 / 1.609344);
      var R = 3958.7558657440545; // Radius of earth in Miles
      var dLat = toRad(lat2-lat1);
      var dLon = toRad(lon2-lon1);
      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
              Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *
              Math.sin(dLon/2) * Math.sin(dLon/2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var d = R * c;
      return d.toFixed(2);
    }

    function toRad(Value) {
      /** Converts numeric degrees to radians */
      return Value * Math.PI / 180;
    }

    // $(".data-div").html("Here are the closest water sources:<br>")
    var dataTable = "<div id='more-water-container'><table><tr><th>Source</th><th>Direction</th><th>Distance</th></tr>"
    var sortedSources = []
    response.forEach(function(source){
      var endpoint = {
        lat: source.lat_deg,
        lon: source.lon_deg
      };
      sortedSources.push({source: source.water_source, direction: getDirection(endpoint, startpoint), distance: calcDistanceBetween(endpoint, startpoint)})
    })
    sortedSources.sort(function(sourceOne, sourceTwo){
      return sourceOne.distance - sourceTwo.distance
    })
    sortedSources.forEach(function(source){
      dataTable += "<tr><td>" + source.source + "</td><td>" + source.direction + "</td><td>" + source.distance + "</td></tr>"
    })
    dataTable += "</table></div>"
    var closestSource = "The closest water source is: "
    closestSource += sortedSources[0].distance
    closestSource += " miles away in the "
    closestSource += sortedSources[0].direction
    closestSource += " direction.<br>"
    closestSource += "Source: " + sortedSources[0].source
    closestSource += "<br><button class='show-more'>See More Sources</button>"
    $(".data-div").html(closestSource)
    $(".show-more").on('click', function(e){
      e.preventDefault();
      if($(".data-div").find("#more-water-container").length > 0){
        $(".show-more").html("See More Sources")
        $(".data-div").find("#more-water-container").remove()
      } else {
        $(".show-more").html("Show Less")
        $(".data-div").append(dataTable)
      }
    })


    // var showDirection = "The nearest " + response[0].water_source + " is " + calcDistanceBetween(endpoint,startpoint) + " miles away in the " + getDirection(endpoint,startpoint) + " direction.";

    // $(".data-div").html(showDirection);
    // $(".data-div2").html(calcDistanceBetween(endpoint,startpoint))
  }
</script>

<p></p>



